
<div class="surface-overlay py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static" style="min-height: 80px">
  <img src="assets/images/zetes_logo.jpg" alt="Image" height="40" class="mr-0 lg:mr-6">
  <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
      <i class="pi pi-bars text-4xl"></i>
  </a>
  <div class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none">
      <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
          <li>
              <a [routerLink]="['/home']" routerLinkActive="router-link-active"  pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                  <i class="pi pi-home mr-2"></i>
                  <span>Home</span>
              </a>
          </li>
          <li>
              <a [routerLink]="['/home/favorites']" pRipple badge="8"  class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                  <i class="pi pi-heart mr-2" ></i>
                  <span pBadge value="{{favoritesProductsCount$ | async}}">Favorites</span>
              </a>
          </li>
      </ul>
      <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row border-top-1 surface-border lg:border-top-none">
          <li style="    display: flex;
          align-items: center;">
            <span class="block sm:none text-600 font-medium">Hola! {{userName$ | async}}</span>
              <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
              (click)="logout()">
                  <i class="pi pi-sign-out text-base lg:text-2xl mr-2 lg:mr-0"></i>
                  <span class="block lg:hidden font-medium" >Logout</span>
              </a>
          </li>
      </ul>
  </div>
</div>
