<p-toast></p-toast>
<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full surface-card py-7 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <div class="text-center mb-5">
          <img
            src="assets/images/zetes_logo.jpg"
            alt="Image"
            height="100"
            class="mb-3"
          />
          <div class="text-900 text-3xl font-medium mb-3">Welcome, Admin!</div>
          <span class="text-600 font-medium">Sign in to continue</span>
        </div>

        <form [formGroup]="loginFormGroup">
          <div class="flex flex-column gap-2 mb-5">
            <label
              for="username"
              class="block text-900 text-xl font-medium mb-2"
              >Username</label
            >
            <input
              id="username"
              type="text"
              placeholder="username"
              pInputText
              formControlName="username"
              class="w-full md:w-30rem"
              [ngClass]="
                loginForm['username'].invalid && isSubmitted
                  ? 'ng-invalid ng-dirty'
                  : ''
              "
              style="padding: 1rem"
            />
            <small
              *ngIf="loginForm['username'].invalid && isSubmitted"
              class="p-error"
              ><span *ngIf="loginForm['username'].errors?.required">
                username is required</span>
            </small>
          </div>
          <div class="flex flex-column gap-2 mb-5">
            <label
              for="password1"
              class="block text-900 font-medium text-xl mb-2"
              >Password</label
            >
            <p-password
              id="password1"
              placeholder="Password"
              formControlName="password"
              [toggleMask]="true"
              [feedback]="false"
              [ngClass]="
                loginForm['password'].invalid && isSubmitted
                  ? 'ng-invalid ng-dirty'
                  : ''
              "
              inputStyleClass="w-full p-3 md:w-30rem"
            ></p-password>
            <small
              *ngIf="loginForm.password.invalid && isSubmitted"
              class="p-error"
              >Password is required
            </small>
          </div>
          <button
            pButton
            pRipple
            label="Sign In"
            class="w-full p-3 text-xl"
            type="submit"
            (click)="onSubmit()"
          ></button>
        </form>
      </div>
    </div>
  </div>
</div>
