
<div class="row">
  <div class="col-12 md:col-8 mx-auto">
    <h3>Favorites products list</h3>
    <p-dataView #dv [value]="products">
      <ng-template pTemplate="list" let-products>
          <div class="grid grid-nogutter">
              <div class="col-12" *ngFor="let item of products; let first = first">
                  <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4" [ngClass]="{ 'border-top-1 surface-border': !first }">
                      <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="item.thumbnail" [alt]="item.name" />
                      <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                          <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                              <div class="text-2xl font-bold text-900">{{ item.title }}</div>
                              <div class="text-2xl  ">{{ item.description }}</div>
                              <p-rating [(ngModel)]="item.rating" [readonly]="true" [cancel]="false"></p-rating>
                              <div class="flex align-items-center gap-3">
                                  <span class="flex align-items-center gap-2">
                                      <i class="pi pi-tag"></i>
                                      <span class="font-semibold">{{ item.category }}</span>
                                  </span>

                              </div>
                          </div>
                          <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                              <span class="text-2xl font-semibold">{{ '$' + item.price }}</span>
                              <p-button icon="{{item.isFavorite ? 'pi pi-heart-fill': 'pi pi-heart'}}" [rounded]="true" [text]="true" [raised]="true" severity="help " (click)="removeFavorite(item)"></p-button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
    </p-dataView>
  </div>
</div>


